@use "./base.scss";
// commented by Adrian earlier

// put your custom CSS here!

/* Custom styles for headings */
h1 {
    color: #cebfa0; /* Change this to your desired color for H1 headings */
}

h2 {
    color: #ada782; /* Change this to your desired color for H2 headings */
}

h3 {
    color: #79866a; /* Change this to your desired color for H3 headings */
}

/* Custom styles for italic text */
em, i {
    color: #758a61 !important; /* Change this to your desired color for italic text */
    font-style: italic !important;
}

/* Custom styles for bold text */
strong, b {
    color: #ccab6f !important; /* Change this to your desired color for bold text */
    font-weight: bold !important;
}
